/* Universal Styles*/
html {
    font-size: 16px;
}

body {
    background-color: #3F0854;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #9E15D4;
}

h1 {
    font-size: 2.875rem;
    font-family: 'PT Sans', sans-serif;
}

.nav-bar,
footer {
    display: flex;
    background-color: #B3B3B3;
    position: fixed;
    width: 100%;
    left: 0;
}

.container {
    margin: 0 1.25rem;
    position: relative;
    text-align: center;
    background-color: #B3B3B3;
}

/* Nav Bar */
.nav-bar {
    border-bottom: 2px solid seashell;
    top: 0;
}

.nav-bar img {
    width: 4rem;
    height: auto;
    margin-left: 10px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav li {
    display: inline-flex;
    margin-right: 15px;
}


/* Header */
.header {
    position: relative;
    top: 2.7rem;
    text-align: center;
    margin: 0 1.25rem;
    background-image: url("../images/background-header.jpg");
    background-size: cover;
    background-color: hsla(0, 0%, 0% 0.9);
    padding-bottom: 0.4rem;
    color: hsl(283, 82%, 46%);
}

/* Footer */
footer {
    bottom: 0;
    color: #551A8B;
    border-top: 1px solid seashell;
}

.created {
    width: 100%;
    text-align: center;
    font-size: 0, 75rem;
}

.contact {
    font-size: 0.5rem;
    margin-right: 10px;
}

/* Buttons */
.link {
    color: #551A8B;
}